node_modules
.DS_Store
dist
dist-ssr
*.local
.env.local
.env
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# turbo
.turbo

# typescript
*.tsbuildinfo
requirement.md

# playwright
test-results/
playwright-report/

# Module Federation generated types
@mf-types/

# Other stuff I don't want to commit
deploy-guide.md
README.docker.md
.agents/*
openspec/*
devops-optimization.md
docs/*
bundle-budget.md

# Lighthouse CI
.lighthouseci/