node_modules
.DS_Store
dist
dist-ssr
*.local
.env.local
.env
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# turbo
.turbo

# typescript
*.tsbuildinfo
requirement.md

# playwright
test-results/
playwright-report/

# Module Federation generated types
@mf-types/
deploy-guide.md
README.docker.md
.agents/*
openspec/*